<style>
  body{
      background-image: url("/static/blog/media/bgabout.jpg") ;
      background-size: cover;
      background-repeat: no-repeat;
  }
</style>

<table border='1'>
    <tr>
      <th>Map ID</th>
      <th>Map Name</th>
      <th>Date</th>
      <th>Map Size</th>
    </tr>
    {% for x in posts %}
      <tr>
        <td>{{ x.map_id }}</td>
        <td>{{ x.map_name }}</td>
        <td>{{ x.date_time }}</td>
        <td>{{ x.map_size }}</td>
      </tr>
    {% endfor %}
  </table>

  <form action="/members/search" method="GET">
    {% csrf_token %}
    <br>
    <label for="map">Map ID:</label><br>
    <input type="text" id="map" name="mapid" required><br>
    <input type="submit" value="Submit" onclick="">

    <script>
      
    </script>

  </form>

  <button onclick="location.href = '/about'">Home</button>
  <br>