    {% load static %} <img id="terrain" src="{% static "blog/media/terrain.jpg" %}" alt="terrain" height="0" width="0" />
    {% load static %} <img id="alien" src="{% static "blog/media/alien.png" %}" alt="alien" height="0" width="0" />
    {% load extras %}
    

    <div id="div1" style="padding-top:3%; padding-left:25%;float:left">
        {% for i in counter %}
            {% for j in counter %}
                 <canvas id={{i}}{{j}} width="50" height="50"
                     style="border:1px solid #000000;">
                </canvas>
                    <!-- {{aliens|index:i|index:j}} -->
                    {% if aliens|index:i|index:j == 0 %}
                        <script>
                            var c = document.getElementById({{i}}{{j}});
                            var ctx = c.getContext("2d");
                            var img = document.getElementById("terrain");
                            ctx.drawImage(img,0,0,50,50);
                        </script>
                    {% else %}
                        <script>
                            var c = document.getElementById({{i}}{{j}});
                            var ctx = c.getContext("2d");
                            var img = document.getElementById("alien");
                            ctx.drawImage(img,0,0,50,50);
                        </script>
                    {% endif %}
            {% endfor %}
            <br>
        {% endfor %}
    </div>

    

    <div id="div2" style="padding-top:3%;padding-left:5%;float:left">
        <form>
        <h2>Mode</h2>
        <form action="form/" method="post">
        {% csrf_token %}
        <label for="modes">Mode:</label>
        <select name="modes" id="modes">
            <option value="Slow">Slow</option>
            <option value="Fast">Fast</option>
        </select>
        <!-- <input type="submit" value="Submit"> -->
        </form>
    </div>  

    <div id="div3" style="padding-top:45%;padding-left:3%;">
      <style>
      #myProgress{
          width: 30%;
          background-color: #ddd;
      }
        
      #myBar{
          width: {{battery}};
          height: 30px;
          background-color: #04AA6D;
      }
      </style>
      
      <body>
        <div id="myProgress">
          <div id="myBar"></div>
        </div>
      </body>
    </div>

<script>
    window.setInterval('refresh()', 20000); 	
    // Call a function every 10000 milliseconds 
    // (OR 10 seconds).
  
    // Refresh or reload page.
    function refresh() {
        window .location.reload();
    }
  </script>