<center>
    <div id="div1" style="padding-top:3%; padding-left:25%;float:left">
        {% for i in counter %}
            {% for i in counter %}
                <canvas id="myCanvas" width="50" height="50"
                style="border:1px solid #000000;">
                </canvas>
            {% endfor %}
            <br>
        {% endfor %}
    </div>

    <div id="div2" style="padding-top:3%;padding-left:5%;float:left">
        <form>
        <h2>Mode</h2>
        <form action="form/" method="post">
        {% csrf_token %}
        <label for="modes">Mode:</label>
        <select name="modes" id="modes">
            <option value="Slow">Slow</option>
            <option value="Fast">Fast</option>
        </select>
        <!-- <input type="submit" value="Submit"> -->
        </form>
    </div>  


    
</center>

<!-- <center>
    <br>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <br>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <br>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <br>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <br>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <br>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <br>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <br>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <br>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <canvas id="myCanvas" width="50" height="50"
    style="border:1px solid #000000;">
    </canvas>
    <br>

</center> -->
