    {% for i in counter %}
                {% for j in counter %}
                    <canvas id={{i}}{{j}} width="50" height="50"
                        style="border:0.5px solid #000000;">
                    </canvas>

                    <script>
                        var c = document.getElementById({{i}}{{j}});
                        var ctx = c.getContext("2d");
                        var img = document.getElementById("terrain");
                        ctx.drawImage(img,0,0,50,50);
                    </script>
                        <!-- {{aliens|index:i|index:j}} -->
                        {% if aliens|index:i|index:j == 0 %}
                            <script>
                                var c = document.getElementById({{i}}{{j}});
                                var ctx = c.getContext("2d");
                                var img = document.getElementById("pink");
                                ctx.drawImage(img,0,0,50,50);
                            </script>
                        {% elif aliens|index:i|index:j == 2 %}
                            <script>
                                var c = document.getElementById({{i}}{{j}});
                                var ctx = c.getContext("2d");
                                var img = document.getElementById("rover");
                                ctx.drawImage(img,0,0,50,50);
                            </script>
                        {% endif %}
                {% endfor %}
                <br>
            {% endfor %}





</html>